/How to use provided GPU
/Project - 2 -Sentiment Analysis with Andrew Trask/Sentiment_Analysis_Videos
/5_Pytorch/Deep_Learning_with_PyTorch_Videos
/5_Pytorch/Transfer_Learning.mp4
/5_Pytorch/Cat_Dog_data
/5_Pytorch/Last_Model.mp4
/5_Pytorch/torch_tensor_shape.png
/6_Convolutional_Neural_Networks/VGG Classifier_Transfer Learning.mp4
/6_Convolutional_Neural_Networks/Freezing Weights.mp4
/6_Convolutional_Neural_Networks/flower_photos
/6_Convolutional_Neural_Networks/Weight_Initialization
/Sample_MLP.py
/Notes
/Project - 3 -Dog-Classification/dog_images
/Project - 3 -Dog-Classification/lfw
/7_Recurrent_Neural_Networks/Notes
/7_Recurrent_Neural_Networks/Long_Short_Term_Memory_Networks_Videos
/7_Recurrent_Neural_Networks/Recurrent_Neural_Networks_Videos
/7_Recurrent_Neural_Networks/Implementation_of_RNN+LSTM_Videos
/7_Recurrent_Neural_Networks/Hyperparameters_Videos
/7_Recurrent_Neural_Networks/Word2Vec_Videos
/7_Recurrent_Neural_Networks/Sentiment_Prediction_RNN_Videos
